{% load staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сервіс Обліку Студентів {% block meta_title %}{% endblock meta_title %}</title>
    <meta name= "discription"
          value="Система Обліку Студентів Навчального Закладу"/>
    <!-- Підключаємо Css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link  rel="stylesheet"
           href="{{ PORTAL_URL }}{% static "css/main.css" %}">
{% block extra_css %}{% endblock extra_css %}
</head>
<body>
<!--CLASS CONTINER OPEN-->
<div class="container">
<!--START HEADER-->
  <div class="row" id="header">
    <!--Logo-->
    <div class="col-xs-8">
        <h1>{% block logo%}Сервіс Обліку Студентів{% endblock logo%}</h1>
    </div>
      <!--Group selector-->
      <div class="col-xs-4" id="group-selector">
          <strong>Групи:</strong>
          <select>
            <option value=””>Усі Студенти</option>
{% block groups %}
            <option value=””>МтМ - 21, Подоба Віталій (No 254)</option>
            <option value=””>МтМ - 22, Пукіш Андрій (No 2123)</option>
{% endblock groups %}          
</select>
      </div>
     <!--HeARED CLosE-->
  </div>
  <!--Start suB-header-->
  <div class="row" id="sub-header">
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li role="presentation" {% if request.path == "/" %}class='active'{% endif %}><a href="{% url 'home' %}">Студенти</a></li>
            <li role="presentation" {% if '/journal' in request.path %}class="active"{% endif %}><a href="/journal">Відвідування</a></li>
          <li role="presentation" {% if "/groups" in request.path %}class='active'{% endif %}><a href="{% url 'groups' %}">Групи</a></li>
 <li role="presentation" {% if "/ekamyn" in request.path %}class='active'{% endif %}><a href="{% url 'ekzamyn' %}">Екзамен</a></li>
        </ul>
    </div>
  </div> <!--END sub-header-->
    <!--STArt mAIN PAGE CONTENT-->
    <div class="row" id="content-columns">
      <div class=”col-xs-12” id=”content-column”>
          <!-- Status Message -->
{% comment ”Not used alert so far” %}
           <div class="alert alert-warning" role="alert">status update</div>
{% endcomment %}
                 <h2>{% block title %}{% endblock title %}</h2>
		{% block content %}{% endblock content %}

      </div>
    </div><!--END staRT PAGE-->

    
            <!--FOOTER-->
    <div class="row" id="footer">
        <div class="col-xs-12">
                {% block footer %}&copy; 2017 Сервіс Обліку Студентів{% endblock footer %}
        </div>
    </div>

        <!--END FOOTER-->
        <!--CLASS CONTINER Close-->
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
