<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Реєстраційна форма</title>

</head>
<body>
<form action="/submit_form.html" method="post"
      enctype="multipart/form-data" name="myform">
    <input type="hidden" value="270" name="student_id"/>
    <div>
        <label for="first_name">Ваше ім*я</label>
        <input type="text" value="" name="first_name" id="first_name" placeholder="Your name" required autofocus/>
    </div>

    <div>
        <label for="last_name">Ваше Прізвище</label>
        <input type="text" value="" name="last_name" id="last_name" placeholder="Your last name"required />
    </div>
    <div>
        <label for="father_name">По-батькові</label>
        <input type="text" value="" name="father_name" id="father_name">
    </div>
    <div>
        <label for="graduated">Закінчили навчання?</label>
        <input type="checkbox" checked="1" name="graduated" value="" id="graduated"/>
    </div>

    <div>
        <label for="gender">Ваша стать</label>
        <br><input type="radio" name="gender" value="male" id="gender" placeholder="your gender"/> Чоловік
        <br><input type="radio" name="gender" value="female"/> Жінка
    </div>
    <div>
        <label for="tell">№ телефону*</label>
        <input type="tel" id="tell" placeholder="Введіть телефон" required>
    </div>
    <div>
        <label for="age">Ваш вік</label>
        <select name="age" id="age">
            <option value="">
                Будь-ласка, виберіть Ваш вік
            </option>
            <option value="18">Менше 18 років</option>
            <option value="19">Більше 18 років</option>
        </select>
    </div>
    <div>
        <label for="pid">Отримувати листи з акціями</label>
        <input type="checkbox" cheked="1" value="yes" id="pid"/>
    </div>
    <input type="submit" name="save_button" value="Зберегти">
    <input type="reset" name="clear" value="Очистити дані">
</form>
</body>
</html>